# EditorConfig is awesome: http://EditorConfig.org

# This is the top-most EditorConfig file.
root = true

# All files.
[*]
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Use the default indentation for NPM configuration,
# as the save flags will update them and reset the indentation!
[{package.json}]
indent_size = 2
